/* NavBar.css */

.nav-main {
    width: 100%;
    height: 84px;
    background: #F5F7FA;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 100px;
  }
  
  .logo-layout {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .icon {
    width: 35px;
    height: auto; /* Adjust height as needed */
  }
  
  .logo {
    width: 111.49px;
    height: auto; /* Adjust height as needed */
    color: #263238;
  }
  
  .navitems {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  
  .navitem {
    text-decoration: none;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #18191F;
  }
  
  .navbuttons {
    display: flex;
    align-items: center;
    gap: 14px;
  }
  
  .navbutton1,
  .navbutton2 {
    min-width: 80px; /* Adjust width as needed */
    padding: 10px 20px;
    border-radius: 5px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    border: none;
  }
  
  .navbutton1 {
    background: #F5F7FA;
    color: #4CAF4F;
  }
  
  .navbutton2 {
    background: #4CAF4F;
    color: #FFFFFF;
  }
  
  /* Burger menu styles */
  .burger-menu {
    display: none; /* Hide burger menu by default */
    cursor: pointer;
  }
  
  .burger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: #18191F;
    margin: 4px 0;
    transition: 0.4s;
  }
  
  .burger-menu.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .burger-menu.open .bar:nth-child(2) {
    opacity: 0;
  }
  
  .burger-menu.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  /* Mobile menu styles */
  .mobile-menu {
    position: absolute;
    top: 84px; /* Adjust according to your NavBar height */
    left: 0;
    width: 100%;
    background-color: #F5F7FA;
    display: none; /* Hide mobile menu by default */
    flex-direction: column;
    align-items: center;
  }
  
  .mobile-menu.open {
    display: flex; /* Show mobile menu when open */
  }
  
  .navitem {
    width: 100%; /* Full width for mobile nav items */
    padding: 12px 0; /* Adjust padding as needed */
    text-align: center;
  }
  
  .navbutton1,
  .navbutton2 {
    width: 100%; /* Full width for mobile buttons */
    padding: 12px 0; /* Adjust padding as needed */
  }
  
  @media screen and (max-width: 768px) {
    .nav-main {
        
        padding: 0 10px;
      }
    .navitems {
      display: none; /* Hide navitems for mobile screens */
    }
  
    .navbuttons {
      display: none; /* Hide navbuttons for mobile screens */
    }
  
    .burger-menu {
      display: block; /* Show burger menu for mobile screens */
    }
  
    .mobile-menu.open {
      padding-top: 20px; /* Add padding for better appearance */
    }
  }
  